.cards > ul {
  list-style: none;
  margin: var(--space-24) 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(100%,(100% - 7rem)/8),1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
