.block.tags {
  margin: 0.5rem 0;
}

.block.tags .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.block.tags .tag {
  background: var(--link-color);
  color: var(--background-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  line-height: 1;
  padding: 0.35rem 0.6rem;
  border-radius: 9999px;
  white-space: nowrap;
}
